<h1>Lunchställen</h1>

<table>
  <tr>
    <th>Namn</th>
    <th>Adress</th>
    <th>Typ av mat</th>
    <th>Prisklass</th>
    <th>Genomsnittbetyg (1-5)</th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td class="nowrap"><%= link_to venue.name, venue %></td>
    <td><%= venue.adress %></td>
    <td><%= venue.type_of_food %></td>
    <td><%= venue.price %></td>
    <td><%= venue.average_rating %></td>
    <td><%= link_to 'Visa recensioner', venue %></td>
    <td><%= link_to 'Redigera', edit_venue_path(venue) %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Nytt ställe', new_venue_path %>
