<h1>Listing venues</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Adress</th>
    <th>Type</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @venues.each do |venue| %>
  <tr>
    <td><%= venue.name %></td>
    <td><%= venue.adress %></td>
    <td><%= venue.type %></td>
    <td><%= venue.price %></td>
    <td><%= link_to 'Show', venue %></td>
    <td><%= link_to 'Edit', edit_venue_path(venue) %></td>
    <td><%= link_to 'Destroy', venue, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Venue', new_venue_path %>
