<% content_for :header do -%>
    <script type="text/javascript"
        src="http://maps.google.com/maps/api/js?sensor=false">
    </script>
    <script type="text/javascript">
        $(document).ready(function() {
            initialize_show_map('<%= @venue.adress %>');
        });
    </script>
<% end -%>

<h1><%= @venue.name %></h1>
<%- if @venue.foursquare_id.present? -%>
    <iframe id="foursquare" src="http://foursquare.com/button.html?vid=<%= @venue.foursquare_id %>&color=light" allowtransparency="true" frameborder="0" scrolling="no" style="width:165px; height:25px;"></iframe>
<%- end -%>
<div id="map_canvas"></div>
<div id="adress">
    <p>
      <b>Gatuadress:</b>
      <%= @venue.adress %>
    </p>

    <p>
      <b>Typ av mat:</b>
      <%= @venue.type_of_food %>
    </p>

    <p>
      <b>Prisklass:</b>
      <%= @venue.price %>
    </p>
    <%= link_to 'Redigera information', edit_venue_path(@venue), :class => "button inline mobilehide" %>
</div>


<h2>Recensioner</h2>

<table id="reviews">
  <tr>
    <th>Omdöme</th>
    <th>Övrigt</th>
    <th>Betyg</th>
    <th>Rapporterad av</th>
    <th>Testad</th>
    <th class="mobilehide"></th>
    <th class="mobilehide"></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td class="review"><%= review.review %></td>
    <td class="other"><%= review.other %></td>
    <td class="rating"><%= review.rating %></td>
    <td class="author"><%= review.author %></td>
    <td class="nowrap"><%= review.date %></td>
    <td class="mobilehide"><%= link_to 'Redigera', edit_venue_review_path(@venue,review), :class => "button" %></td>
    <td class="mobilehide"><%= link_to 'Radera', venue_review_path(@venue,review), :class => "button", :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'Ny recension', new_venue_review_path(@venue), :class => "button inline" %>
<%= link_to 'Tillbaka', venues_path, :class => "button inline" %>