<p id="notice"><%= notice %></p>
<h1><%= @venue.name %></h1>

<p>
  <b>Adress:</b>
  <%= @venue.adress %>
</p>

<p>
  <b>Typ:</b>
  <%= @venue.type_of_food %>
</p>

<p>
  <b>Prisklass:</b>
  <%= @venue.price %>
</p>


<%= link_to 'Edit', edit_venue_path(@venue) %>

<h2>Recensioner</h2>

<table>
  <tr>
    <th>Omdöme</th>
    <th>Övrigt</th>
    <th>Betyg (1-5)</th>
    <th>Rapporterad av</th>
    <th>Testad den</th>
    <th></th>
    <th></th>
  </tr>

<% @reviews.each do |review| %>
  <tr>
    <td><%= review.review %></td>
    <td><%= review.other %></td>
    <td><%= review.rating %></td>
    <td><%= review.author %></td>
    <td><%= review.date %></td>
    <td><%= link_to 'Edit', edit_venue_review_path(@venue,review) %></td>
    <td><%= link_to 'Destroy', venue_review_path(@venue,review), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Review', new_venue_review_path(@venue) %> |
<%= link_to 'Back', venues_path %>