<!DOCTYPE html>
<html>
<head>
  <title><%= "#{@page_title} - " if @page_title %>MyNewsdesk lunchrecensioner</title>
  <meta name="viewport" content="initial-scale=1.0, width=device-width, maximum-scale=1.0"/>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
  <%= yield(:header) %>
</head>
<body>
<header>
  <h1><%= link_to("MyNewsdesk lunchrecensioner", index_path) %></h1>
  <section>
    <%= offices_links %>
  </section>
</header>
<section id="content">
<%= yield %>
</section>
<!-- Piwik -->
<script type="text/javascript">
var pkBaseURL = (("https:" == document.location.protocol) ? "https://himynameisjonas.net/piwik/" : "http://himynameisjonas.net/piwik/");
document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
</script><script type="text/javascript">
try {
var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 9);
piwikTracker.trackPageView();
piwikTracker.enableLinkTracking();
} catch( err ) {}
</script><noscript><p><img src="http://himynameisjonas.net/piwik/piwik.php?idsite=9" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tag -->
</body>
</html>
